﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Jim Andreasen : Software Engineer, Solutions Architect</title>
    <link rel="stylesheet" href="stylesheets/base.css" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/1.7.2/moment.js"></script>
    <!--script src="scripts/jquery-1.8.3.min.js" type="text/javascript"></script-->
    <!--script src="scripts/handlebars-1.0.rc.1.min.js" type="text/javascript"></script-->
    <!--script src="scripts/moment.min.js" type="text/javascript"></script-->

    <script id="resume-template" type="text/x-handlebars-template">
            <div id="content" class="container_12">
                <section id='contact'>
                    {{#ContactInfo}}
                        {{> contactInfo}}
                    {{/ContactInfo}}
                </section>
                <section id='skills'>
                    {{#Skills}}
                        <h1 id="skillsTitle" class="grid_12">Skills</h1>
                        <div class="section clearfix">
                            <h3 class="grid_3">Technologies</h3>
                            <div class="grid_9">
                                {{#Technologies}}
                                    {{> skillInfo}}
                                {{/Technologies}}
                            </div>

                            <h3 class="grid_3">Methods</h3>
                            <div class="grid_9">
                                {{#Methods}}
                                    {{> skillInfo}}
                                {{/Methods}}
                            </div>
                        </div>
                    {{/Skills}}
                </section>

                <section id='workExperience'>
                    <h1 class="grid_12">Work Experience</h1>
                    <div class="section clearfix">
                        {{#WorkExperience}}
                            {{#unless IsArchived }}
                                {{> jobInfo}}
                            {{/unless}}
                        {{/WorkExperience}}
                    </div>
                </section>
            </div>
        </script>

    <script id="contactInfo-partial" type="text/x-handlebars-template">
            <h1 class="grid_12">Contact</h1>
            <div class="section clearfix">
                <h3 class="grid_3">{{FirstName}} {{LastName}}</h3>
                <div class="grid_9">
                    <a href="mailto: {{Email}}">{{Email}}</a><br/>
                    <a href="{{Web}}">{{Web}}</a>				
			</div>
        </script>

    <script id="skillInfo-partial" type="text/x-handlebars-template">
			<h4>{{Name}}</h4>
			<ul class="separated">
                {{#Children}}
                    <li>
                        {{#if Url}}<a href="{{Url}}">{{/if}}
                        {{Name}}
                        {{#if Url}}</a>{{/if}}
                    </li>
                {{/Children}}
			</ul>
        </script>

    <script id="jobInfo-partial" type="text/x-handlebars-template">
			<h3 class="grid_3">{{CompanyName}} <span class="location">{{Address}}</span></h3>
			<div class="grid_9">
				<h4>{{Title}}</h4>
				<p>{{dateFormat StartDate format="MMMM YYYY"}} <span class="quiet">to</span> {{dateFormat EndDate format="MMMM YYYY"}}</p>
                
                {{#Description}}
                    <p class="description">{{Text}}</p>
                {{/Description}}

                {{#if LanguageConcentration}}<ul class="separated">{{/if}}
                    {{#LanguageConcentration}}
                        <li>{{Name}} <span class="quiet">({{percentFormat Weight}})</li>
                    {{/LanguageConcentration}}
                {{#if LanguageConcentration}}</ul>{{/if}}
			</div>
        </script>

    <script type="text/javascript">
        function handlebarsRegistrations() {
            Handlebars.registerPartial("contactInfo", $("#contactInfo-partial").html());
            Handlebars.registerPartial("skillInfo", $("#skillInfo-partial").html());
            Handlebars.registerPartial("jobInfo", $("#jobInfo-partial").html());

            // format an ISO date using Moment.js
            // http://momentjs.com/
            // moment syntax example: moment(Date("2011-07-18T15:50:52")).format("MMMM YYYY")
            // usage: {{dateFormat creation_date format="MMMM YYYY"}}
            Handlebars.registerHelper('dateFormat', function (context, block) {
                if (!window.moment) {
                    return context; // moment plugin not available. return data as is.
                }
                else if (typeof context === "string") {
                    var f = block.hash.format || "MMM Do, YYYY";
                    var date = Date.parse(context);
                    return moment(date).format(f);
                } else {
                    return "Current";
                };
            });

            Handlebars.registerHelper('percentFormat', function (context, block) {
                var decimals = block.hash.decimals || 0;
                return (context * 100).toFixed(decimals) + '%';
            });

            var source = $("#resume-template").html();
            var template = Handlebars.compile(source);
            return template;
        }

        $(function () {
            var template = handlebarsRegistrations();

            $.ajax({
                url: 'fixture/jim-andreasen.json',
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    var html = template(data);


                    $('#content').html(html);
                    // $('#skillsTitle').hover(
                    //     function () {
                    //         var $this = $(this); // caching $(this)
                    //         $this.data('initialText', $this.text());
                    //         $this.text("Buzzwords");
                    //     },
                    //     function () {
                    //         var $this = $(this); // caching $(this)
                    //         $this.text($this.data('initialText'));
                    //     }
                    // );

                },
                error: function (data, textStatus, jqXHR) {
                    $("#content").html('<h2>Error loading resume data</h2>' + data.statusText);
                }
            });
        });
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36436332-1']);
        _gaq.push(['_setDomainName', 'reifnir.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>
    <div id="content" />
</body>

</html>